.ready-button {
  display: inline-block;
  font-size: 0.5em;
  background-color: #fff;
  color: #9e9e9e;
  border-radius: 2em;
  overflow: hidden;
  transition: all 0.5s ease;
  line-height: 0;
  padding: 1em;
}
.ready-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.ready-button:active {
  transform: scale(1.1, 1.1);
}

.ready-button-container {
  flex: 1;
  min-width: 200px;
  max-width: 500px;
  height: 50px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #7ab893;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.5s background-color;
  cursor: pointer;
}

.ready-button-container.not-ready {
  background: #ff6766;
}

.ready-button-text {
  flex: 1;
}
