.deck {
  position: relative;
  transform-style: preserve-3d;
  margin: 20px 10px;
}

.cardWrapper {
  position: absolute;
  width: 100px;
  height: 150px;

  transform-origin: left top;
  transform-style: preserve-3d;
}
