.deck {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  margin-bottom: 10px;
}

.cardWrapper {
  position: absolute;
  width: 100px;
  height: 150px;

  transform-origin: left top;
  transform-style: preserve-3d;
}
