.lobby {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 5vmin;
}

.input {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  padding-left: 100px;
}

.input-container {
  min-width: 200px;
  max-width: 500px;
  height: 50px;
  width: 100%;
  position: relative;
  display: inline-block;
  flex: 1;
}

.label {
  position: absolute;
  width: 80px;
  height: 100%;
  top: 0;
  left: 0;
  padding: auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #7ab893;
  color: #eee;
}

.game-id {
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 1ch;
  padding-left: 1ch;
  margin-bottom: 15px;
}

.link {
  background-color: transparent;
  border: 0;
}

.link:focus {
  outline: none;
}

.explain {
  color: #888888;
}

.explain input {
  color: #888889;
}

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5vmin;
  margin: -2.5vmin;
  padding-bottom: 0px;
}

.centered-row > * {
  flex: 1;
  margin: 2.5vmin;
}

.button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
}

.lobby .player,
.lobby .players,
.lobby .player-container {
  width: 100% !important;
}

.lobby .button {
  margin: 5px;
}
