.game-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.deck {
  flex: 1;
}

.game-bar {
  display: flex;
  flex-direction: row;
}

.game-bar > .players {
  flex-wrap: nowrap;
  overflow: auto;
}

.close-button {
  position: absolute !important;
  top: 5px;
  right: 5px;
  margin: 0 !important;
}
