.players {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: fit-content;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 2.5px;
  font-size: 120%;
}

.players > * {
  margin: 2.5px;
}
